body
{
    background-color: whitesmoke;
}
img{
    height: 125px;
}
.image{
    margin: 0 auto;
    text-align: center;
}
.blank{
 width: 399px;
 height: 733px;
 margin:0 auto;
 padding: 20px 65px 0 50px;
 background-color: white;
 box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
h1
{
    width: 232px;
    height: 37px;
    margin: 0 auto;
    text-align: center;
}
p
{
    margin: 2px 0 0 5px;
    font-size: 18px;
    padding: 6px 0 0 9px;
}
.make
{
 margin: 16px 0 24px 0;
    padding: 26px 0  0 13px;
    border-top: 1px solid grey;
    width: 400px;
}
ul
{
    font-size: 18px;
    padding: 6px 0 0 23px;
    margin: 6px 0 0 13px;
}