body
{
    background-color: whitesmoke;
}

img
{
    height: 125px;
    padding: 0 0 0 140px;

}
div
{
 width: 399px;
 height: 733px;
 margin:3px 455px 10px 455px;
 padding: 20px 65px 0 50px;
 background-color: white;
 box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
}
h1
{
    width: 232px;
    height: 37px;
    padding: 0 0 0 90px;
}
p
{
    margin: 2px 0 0 5px;
    font-size: 18px;
    padding: 6px 0 0 9px;
}
.make
{
 margin: 16px 0 24px 0;
    padding: 26px 0  0 13px;
    border-top: 1px solid grey;
    width: 400px;
}
ul
{
    font-size: 18px;
    margin: 6px 0 0 0;
    padding: 6px 0 0 23px;
    margin: 6px 0 0 13px;
}